body {
	font-family: 'Playfair Display', serif;
	color: #5C4E46;
	font-weight: 700;
}
.text-thin {
	font-weight: 400;
}
.text-muted {
	color: #ABA29C;
}


.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}