body {
	font-family: 'Lora', serif;
	color: #5C4E46;
	font-weight: 700;
}

span {
	color: gold;
}

.text-thin {
	font-weight: 400;
}
.text-muted {
	color: #ABA29C;
}


.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}

ul {
    list-style-type: none;
    margin-top: 20px;
}

li {
	display: inline;
	margin-right: 5px;
    padding: 3px;
}
