body{
	font-family: 'Philosopher', sans-serif;
	color: #594942;
	font-weight:400;
}

.text-muted {
	color: #66615D;
}

.text-thick {
	font-weight: 700;
}


.title-super {
	font-size: 60px; 
}

.title-logo {
	margin-top: 30px;
}

